# Ignore Pods and dependencies
Pods/
Podfile.lock

# Xcode-specific files


# Ignore build artifacts
build/
DerivedData/



# Xcode specific filesgit 


.xcuserstate
.xcodeproj
.xcworkspace/





# Ignore CocoaPods
Pods/
Podfile.lock


# Ignore system files
.DS_Store