# Ignore Pods and dependencies
Pods/
Podfile.lock

# Xcode-specific files


# Ignore build artifacts
build/
DerivedData/



# Xcode specific filesgit 

*.xcodeproj/
*.xcworkspace/




# Ignore CocoaPods
Pods/
Podfile.lock

git s

# Ignore system files
.DS_Store